* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display:flex;
    flex-direction: column;
    height: 100vh;
}

header {
    height: 20%;
    background-color: lightgray;
    padding: 4rem 2rem;
}

.icon img {
    background-color: white;
    border-radius: 5px;
}

inside {
    display: flex;
    flex-direction: column;
    background-color: darkgray;
    height: 80%;
    padding: 1rem;
}

.dsb{
    background-color: aqua;
    border-radius: 5px;
    height: 7%;
    width: 35%;
}

footer {
    background-color: lightgray;
    height: 20%;
    padding: 5rem;
}

footer a{
    color: black;
    margin-left: 4rem;
}